@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: none;
    font-family: "Ubuntu", sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-image: url("/hometown/backgroundHometown.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
}

.content {
    padding: 8%;
}

li,
a,
button {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
    background-color: #000000;
}



header {
    width: 100%;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 8%;
    background-color: #000000;
    position: fixed;
}

#logo3 a {
    cursor: pointer;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #BF1B2C;
    text-decoration: none;
}

.nav__links a {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 40px;
}

.nav__links li a:hover {
    transition: all 0.3s ease 0s;
    color: #BF1B2C;
}

.row-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}

h2 {
    font-size: 96px;
    font-weight: 500;
    color: #ffffff;
}

.row-1 h2 {
    margin-bottom: 20px;
}

.row-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row-2 h1 {
    color: #ffffff;
    font-size: 250px;
    font-weight: 700;
}

.row-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.row-4 {
    margin-top: 250px;
    display: flex;
}


.row-4 .col1 {
    max-width: 30%;
}

.row-4 h3 {
    font-weight: 700;
    font-size: 48px;
    color: #BF1B2C;
    margin-bottom: 20px;
}

.row-4 h5 {
    font-size: 24px;
    font-weight: 400;
    line-height: 2;
}

.row-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 350px;
}

.row-6 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0px;
}

.row-7 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0px;
}

.row-8 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0px;
}

.row-6 img {
    width: 90%;
    height: auto;
}

.row-7 img {
    width: 90%;
    height: auto;
}

.row-8 img {
    width: 90%;
    height: auto;
}

h4 {
    font-size: 64px;
    font-weight: 400;
    color: #ffffff;
}

.divisionContainer {
    position: relative;
}

.divisionContainer h4 {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}